.close {
    width: 30px;
    height: 30px;
    position: fixed;
    mix-blend-mode: difference;
}


.close:after {
    content: '';
    height: 30px;
    border-left: 1.5px solid white;
    position: absolute;
    transform: rotate(45deg);
    left: 14px;
}

.close:before {
    content: '';
    height: 30px;
    border-left: 1.5px solid white;
    position: absolute;
    transform: rotate(-45deg);
    left: 14px;
}