.piece {
    padding: 70px 0;
    border-bottom: 1px solid #888888;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
    }
    h2{
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 40px;
    }

    h3, li {
        margin-bottom: 5px;
    }
}

.piece-intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
        line-height: 1.2;
    }

    img {
        width: 45%;
        flex: 0 0 45%;
    }

    .piece-text {
        flex: 0 0 50%;
    }

}


.link {
    margin-right: 15px;
    display: inline-block;
}


.stack-roles {
    display: flex;
    justify-content: space-between;

    h3 {
        opacity: .62;
        // font-weight: 400;
        // color: red;
    }
}

.column {
    flex-basis: 50%;
}

.images {
    img {
        margin-bottom: 50px;
    }
}