.piece {
    padding: 100px 0;
    border-bottom: 1px solid #888888;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
    }
}



.piece-intro {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;

    p {
        line-height: 1.2;
    }

    img {
        width: 45%;
        flex: 0 0 45%;
    }

    h3 {
        margin-bottom: 10px;
    }

    .piece-text {
        flex: 0 0 50%;
    }
    
    h2, p {
        margin-bottom: 10px;
    }
}


.link {
    margin-right: 10px;
    display: inline-block;
}

.stack-roles {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.column {
    flex-basis: 50%;
}

.images {
    img {
        margin-bottom: 50px;
    }
}