.intro {
    height: 90vh;
    border-bottom: 1px solid #333333;
}

.intro-wrapper {
    width: 96%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 20px;
}

.intro-title {
    font-size: 3.5rem;
    line-height: 1.2;
}

.intro-text {
    width: 80%;
    font-size: 3.5rem;
    font-weight: 300;

}