.container {
    width: 100%;
    display: flex;
}

section {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    padding: 10px;
}

section .wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow-y: scroll;
}

section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .content {
    display: none;
}

section:hover {
    width: 40%;
    // border-radius: 20%;
}

.susie {
    width: 35%;
    box-shadow: 0 0 0 black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transition: all .3s ease;
}

.developer, .designer{
    width: calc((100% - 35%) / 2);
    transition: all .3s ease;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    section {
        height: 33.333vh;
    }

    section:hover {
        width: 100%;
    }

    .susie {
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .susie, .designer, .developer {
        width: 100%;
    }
}

.show {
    width: 90vw;
}

.hide {
    width: 5vw;
}


// .susie {
//     border-radius: 250px 750px 250px 750px /
//                    750px 250px 750px 250px;
//     animation: wobble 3s ease-in-out alternate infinite;
//   }
  
//   @keyframes wobble {
//     50% {
//       border-radius: 750px 550px 350px 750px /
//                      350px 750px 550px 450px;
//     }
//     100% {
//       border-radius: 750px 250px 750px 250px /
//                      250px 750px 250px 750px;
//     }
//   }