.icon {
    height: 50px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.5;
}


.skills-list {
    display: flex;
    align-items: center;
}

.skills-list li {
    margin-right: 20px;
    
    &:last-child {
        margin-right: 0;
    }
}

.intro-text {
    margin-bottom: 50px;
}