.icon {
    height: 50px;
    max-width: 50px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.7;
}


.skills-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.skills-list li {
    margin-right: 20px;
    
    &:last-child {
        margin-right: 0;
    }
}

.intro-text {
    padding: 50px 0px;
}