
input[type=checkbox]{
	height: 0;
	width: 0;
    visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
    width: 50px;
    height: 25px;
    border: 1px solid #333;
	display: block;
	border-radius: 100px;
    position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
    border-radius: 20px;
    border: 1px solid #333;
	transition: 0.3s;
}

input:checked + label {
    background: #333;
}

input:checked + label:after {
	left: calc(100% - 5px);
    transform: translateX(-100%);
    border: 1px solid #f6f6f6
}

label:active:after {
	width: 30px;
}

.susie {
    position: relative;
}

.switch {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX( -50%);
}

.dark {
    color: white;
    background: #111;
}

.dark-border {
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
}

.dark-border-mobile {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}