html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    color: #222222;
    background: #f6f6f6;
}

h1, h2, h3 {
    font-weight: 200;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 3rem;
}