html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    color: #222222;
    background: #f6f6f6;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 200;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 3.5rem;
}

a {
    color: inherit;
}

.developer, .designer {
    .content {
        h2 {
            font-size: 3rem;
        }
        p, a, li {
            font-size: 1.5rem;
        }

    }
}
