html {
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    // font-family: 'Work Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.025rem;
    color: #222222;
    background: #f6f6f6;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.1px;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    opacity: 0.62;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-size: 2.5rem;
    line-height: 1.4;
}

a {
    color: inherit;

    &:hover {
        opacity: .62;
    }
}

.developer, .designer {
    .content {
        p, a, li {
            font-size: 1.5rem;
        }

    }
}

.link {
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 12px;
    border-radius: 1.5rem;

    &:hover {
        opacity: .7;
    }
}

.links {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
