.work{
    height: calc(100vh - 50px);
    border-bottom: 1px solid #333333;
}

.work-wrapper {
    width:100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: #f6f6f6;
}

.dev, .design {
    flex-basis: 50%;
    overflow-y: scroll;
    padding: 0px 2%;
}

.dev {
    border-right: 1px solid #333333;
}

h2 {
    background: #f6f6f6;
    width: 47%;
    padding: calc((10vh - 3rem) / 2) 0px;
    position: fixed;
    font-size: 3rem;
}

.content {
    margin: 100px 0px;
}
