.dark-border-bottom {
    border-bottom: 1px solid #f6f6f6;
}

.dark {
    color: #f6f6f6;
    background: #333333;
}


.dark-background {
    background: #333333;
}

.dark-border-right {
    border-right: 1px solid #f6f6f6;
}